@use "sass:math";
@use 'sass:map';

// theme colors
$primary: #326dee !default;
$secondary: #1ac888 !default;
$error: #d32752 !default;
$info: #f6c31c !default;


// color palette 
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "error": $error,
  "info": $info,
  "blue": blue,
  "red": red,
  "gray": gray,
  "purple": #9900ff,
  "black": black,
  "white": white,
  "orange": orange
);



// @debug map.get($colors, "purple");
// @debug map.has-key($colors, "purple");
// @debug map.has-key($colors, "blabla");
// @debug map.remove($colors, "primary");
// @debug map.has-key($colors, "pink");
// @debug map.merge($colors, ("pink": #ffc0cb));
// @debug map.has-key($colors, "primary");

// $colors: map.merge($colors, ("pink": #ffc0cb));
// @debug map.has-key($colors, "pink");



// spacing
$base-padding: 0.75rem !default;
$base-margin: 0.75rem !default;


// borders
$base-border-thickness: 1px !default;
$base-border-radius: 20px !default;


// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1) !default;


// font size
$base-font-size: 1.5rem;
$base-font-size-sm: $base-font-size * 0.75 !default;
$base-font-size-lg: $base-font-size * 1.5 !default;
$base-font-size-xl: $base-font-size * 2 !default;
$base-font-size-xxl: $base-font-size * 3 !default;


